

:root {
    --strong-cyan:hsl(172, 67%, 45%);

    --very-dark-cyan:hsl(183, 100%, 15%);
    --dark-grayish-cyan:hsl(186, 14%, 43%);
    --grayish-cyan:hsl(184, 14%, 56%);
    --light-grayish-cyan:hsl(185, 41%, 84%);
    --very-light-grayish-cyan:hsl(189, 41%, 97%);

}
body * {
    font-family: 'Overpass', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
p, h1, h3 {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    border: 0;
    padding: 0;
    margin: 0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    background-color: blueviolet;
}
.main-container {
    width:  80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    background-color: white;
    padding: 2rem;
}
.info-container {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;


}
.row-bill {

}

.row-tip {

}
.grid-tips {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
   
}

.costum-tip {
    text-align: center;
}

.row-people {

}




/* calc container start */
.calc-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    border-radius: .5rem;

    background-color: var(--very-dark-cyan);
}
.calc-area {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.row-calc {
    display: flex;
    justify-content: space-between;
}
.calc-text-area {
    display: flex;
    flex-direction: column;
}
.reset-button {
    width: 100%;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

/*  buttons     */
input,
.costum-tip,
.button {
    border: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: .5rem;
    outline: none;
    text-align: center;
}
input,
.costum-tip {
    background-color:var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
}

.tip-button {
    background-color: var(--very-dark-cyan);
    color: var(--light-grayish-cyan);
}
h3 {
    font-size: 1rem;
}
.info-container h3 {
    color: var(--grayish-cyan);
   
}
.calc-container h3 {
    color: var(--light-grayish-cyan);
}
.calc-container p {
    font-size: .8rem;
}
.calc-container h1 {
    font-size: 2rem;
    color: var(--strong-cyan)  ;
}